.topico {
    color: green;
    margin-bottom: 4px;
}

section {
    border: 1px solid black;
}

.texto-simples{
    font-weight: bold;
    font-size: 12px;
}

.nome-instituicao {
    color: blue;
}


.conteudo {
    padding: 50px;
    background-color: bisque;
    
}

.conteudo ul {
    /* box-sizing: border-box; */
    padding-left: 15px;
    display: block;
}

h1 {
    border-top: 1px solid black;
}